/*#41C9A9: green
#34A7C1: blue 
#31977F: dark green*/

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.side-panel {
  display: flex;
  flex: 1;
  min-width: 120px;
  flex-direction: column;
}

.logo {
    display: flex;
    flex: 1;
    border-bottom: 2px solid white;
    background-color: #41C9A9;
    min-height: 80px;
}

.panel-navigation {
  display: flex;
  flex: 9;
  background-image: linear-gradient(to bottom, #41C9A9 0%,#34A7C1 100%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
}

.icon-wrapper {
  display: flex;
  color: white;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

.panel-icon {
  display: flex;
  font-size: 70px;
}

.settings-container {
  display: flex;
  flex: 14;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex: 1;
  min-height: 40px;
}

.label {
  display: flex;
  flex: 10;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  background-image: linear-gradient(to right, #aeb9b7 0%,#868f8e 100%);
  color: #fff;
}

.top-nav {
  display: flex;
  flex-direction: column;
  flex: 4;
  background-color: #41C9A9;
  justify-content: center;
  font-size: 12px;
  min-width: 328px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.settings-form {
  flex: 18;
  width: 100%;
  background-color: #f0f2f2;
}

.add-margin {
  margin: 20px 15px;
}

.settings-content {
  height: 80%;
  width: 100%;
}

.setting-section {
  margin-left: 100px;
  margin-right: 65%;
}

.settings {
  padding-bottom: 10px;
}

.notification-switch {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings-title {
  font-size: 20px;
  font-weight: 700;
  color: #41C9A9;
  padding: 10px 0;
}

.switch label .lever:after {
  background-color: #fff;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #fff;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #41C9A9;
}

.row .input-field {
  padding: 0;
}

.input-field.col label {
  left: 0;
}

.chat {
  height: 94.7vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: stretch;
  align-self: flex-end;
  border-left: 1px solid #5ecfb5;
  border-right: 1px solid #5ecfb5;
  padding: 0;
  top: 5.3vh;
}

.title-container {

  width: 100%;
  background-color: #41C9A9;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.chat-title {
  padding: 0 80px;
}

.chat-options {
  min-height: 40px;
  width: 100%;
  background-color: #f0f2f2;
  display: flex;
  flex: 0.8;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #41C9A9;
  font-size: 30px;
}

.add {
  font-weight: 300;
  padding-left: 15px;
}

.hash {
  font-weight: 300;
  padding-right: 15px;
}

.chat-view {
  min-height: 350px;
  width: 100%;
  display: flex;
  flex: 13;
}

.chat-footer {
  min-height: 150px;
  width: 100%;
  display: flex;
  flex: 4;
  background-color: #34A7C1;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.chat-actions {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 70px;
  min-block-size: 40px;
}

.input-container {
  height: 100%;
  display: flex;
  flex: 7;
  justify-content: flex-end;
  padding: 0 15px;
}

.input-container input {
  color: #000;
  background-color: #fff;
  position: relative;
}

.send-icon {
  font-size: 30px;
  color: #41C9A9;
  position: absolute;
  padding-top: 8px;
  padding-right: 4px;
}

.side-nav-button {
  cursor: pointer;
}

#sidenav-overlay {
  opacity: 0;
}